* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #F3F3F3;
}

.wrapper-main {
  width: 70%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-header-main {
  height: 80%;
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 48px;
  padding-right: 20px;
}

.nav-header-main img {
  height: 100%;
}

.nav-header-main ul {
  height: 100%;
}

.nav-header-main ul li {
  list-style: none;
  float: left;
  height: 100%;
}

.nav-header-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  border-radius: 6px;
  line-height: 48px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

.header-login {
  height: 60%;
  display: flex;
  flex-direction: row;
}

.header-login form {
  height: 100%;
}

.header-login form input {
  height: 100%;
  width: 160px;
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  background-color: #F6F6F6;
  float: left;
  margin-left: 8px;
  font-family: arial;
}

.header-login form button {
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  margin-left: 8px;
  font-family: arial;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

.header-signup {
  height: 100%;
  width: 70px;
  padding: 0 6px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  font-family: arial;
  font-size: 13px;
  line-height: 36px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
}

.login-status {
  text-align: center;
  font-size: 26px;
  font-family: arial;
  color: #111;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-family: arial;
  color: #111;
}

.section-default p {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  font-family: arial;
  color: #111;
}

/* signup.php */

.form-signup {
  margin: 0 auto;
  padding-top: 20px;
  width: 200px;
}

.form-signup input {
  width: calc(100% - 30px);
  height: 30px;
  padding: 0 15px;
  margin-bottom: 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #F6F6F6;
  float: left;
  font-family: arial;
}

.form-signup button {
  display: block;
  height: 40px;
  padding: 0 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #333;
  font-family: arial;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

.signuperror {
  padding-top: 14px !important;
  font-family: arial !important;
  font-size: 16px !important;
  color: red !important;
  text-align: center !important;
}

.signupsuccess {
  padding-top: 14px !important;
  font-family: arial !important;
  font-size: 16px !important;
  color: green !important;
  text-align: center !important;
}

/* RESET PASSWORD */

.form-resetpwd {
  margin: 0 auto;
  width: 280px;
}

.form-resetpwd input {
  width: calc(100% - 30px);
  height: 30px;
  padding: 0 15px;
  margin-bottom: 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #F6F6F6;
  float: left;
  font-family: arial;
}

.form-resetpwd button {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #333;
  font-family: arial;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

.p-forgetpwd {
  display: block;
  padding: 10px 0;
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  font-family: arial;
  color: #111;
}

/*////////////////////////////////////////////////////////////*/

p, ul, li, div, nav {
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri;
}

#menu {
    overflow: auto;
    z-index: 2;
    min-height: 100%;
}

.parent-menu {
    background-color: #0c8fff;
    min-width: 300px;
    float: left;
}

#menu ul {
    list-style-type: none;
}

#menu ul li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
}

#menu ul li:hover {
    background-color: #007ee9;
}

#menu ul li:hover>ul {
    left: 300px;
    top: 0;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 400ms ease-in;
}

#menu ul li {
    position: relative;
    display: flex;
}

#menu ul li>ul {
    position: absolute;
    background-color: #333;
    top: 0;
    left: -2000px;
    min-width: 800px;
    z-index: -1;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 400ms ease-in;
}

#menu ul li>ul li a:hover {
    background-color: #2e2e2e;
}

#menu ul li>ul li a.bookmark_name {
    width: 100%;
}
.card {
    top: 80px;
    width: 80vw;
    padding: 30px;
    margin: auto;
    height: 750px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

#menu ul li button {
    margin: 5px;
}

.addButton {
    width: 100px;
    margin-bottom: 10px;
}

#menu ul li a.category_name{
    margin-right: auto;
}

a.category_edit, a.category_delete, a.category_move, 
a.bookmark_edit, a.bookmark_delete, a.bookmark_move {
    cursor: pointer;
}

#menu ul li>ul li {
    display: flex;
}
#menu ul li>ul li a.bookmark_name {
    margin-right: auto;
}
#menu ul>li>button:first-child {
  margin-right: auto;
}

.modal-body {
  display: block;
}

.validation_red {
  color: red;
  text-align: center;
}